{
	"token": "PUT DISCORD TOKEN HERE",
	"interval" : 10000,
	"prefix": "vinu!",
	"viteNode" : "https://node.vite.net/gvite",
	"tti" : "tti_3340701118e8a54d34b52355",
	"tokenID" : "VINU-001",
	"devWallet" : "vite_1b91ee2619368ee27857c8cc544bc72e92436ba8a029b984e9",
	"clientID" : "PUT CLIENT ID HERE",
	"permissions" : "PUT PERMISSIONS INTEGER HERE"
}